@media screen and (max-width: 576px) {
    /* navigation*/
    .navigation{
        padding: 50px 20px ;
    }
    .navigation-list{
        display: none;
    }
    .nav-icon{
        display: block;
    }
    /* bannar */
    .bannar{
        margin: 0 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .bannar-text{
        width: 350px;
    }
    .bannar-title{
        font-size: var(--fs-m);
    }
    .text-secondary{
        font-size: 5rem;
    }
    .workout-video-div{
        top:50px;
        left: 190px;
    }
    .tutorial-video-div{
        bottom: 240px;
        left: -5px;
    }
    .bannar-btn{
        padding: 16px 20px;
        font-weight: var(--fw-n);
    }
    /* habit */
    .chng-habits{
        margin: 0 20px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .habit-title{
        font-size: var(--fs-ttl-m);
        font-weight: var(--fw-b);
    }
    .habit-description{
        max-width: 470px;
    }
    /* run extra start */
    .run-extra{
        max-width: 355px;
        height: 535px;
        padding: 31px 33px;
        flex-direction: column;
    }
    .run-extra-text{
        width: 100%;
        height: 50%;
    }
    .run-extra-title{
        font-size: var(--fs-ttl-m);
    }
    .run-extra-description{
        margin: 14px 0 24px 0;
    }
    .run-extra-img{
        width: 100%;
        height: 45%;
    }
    /* Trainings and Exercises start */
   .exercises{
    margin: 50px 20px;
    }
    .exercises-title{
        font-size: var(--fs-ttl-m);
    }
    .training-img{
        height: 135px;
    
    }
    .trainings-part1{
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
    }
    #training-img3{
        display: none;
    }
    .trainings-part2{
        display: grid;
        grid-template-columns: 0.9fr 1fr;
    }
    #training-img6{
        display: none;
    }
    /* BMI Calculator */
    .bmi-cal-description{
        width: 80%;
    }
    .calculat-chat-tbl{
        width: 300px;
    }
    .calculator{
        padding: 34px 20px;
        flex-direction: column;
        gap: 42px;
    }
    .calculator-bmi{
        width: 100%;
    }
    .bmi-cal-title{
        font-size: var(--fs-ttl-m);
    }
    .calculat-chat-title{
        font-size: var(--fs-root);
        margin-bottom: 32px;
    }
    .calculator-bmi-title{
        font-size: var(--fs-root);
    }
    /* services */
    .services-catagory{
        grid-template-columns: repeat(1,1fr);
    }
    .services{
        margin: 70px 20px;
    }
    .services-title{
        font-size: var(--fs-ttl-m);
    }
    .services-description{
        width: 80%;
    }
    /* team */
    .team{
        margin: 70px 20px;
    }
    .team-description{
        width: 80%;
    }
    .team-members{
        grid-template-columns: repeat(1,1fr);
    }
    .team-title{
        font-size: var(--fs-ttl-m);
    }
}
@media screen and (min-width: 576px)and (max-width: 992px) {
    /* navigation start*/
    .navigation{
        padding: 50px 30px ;
    }
    .navigation-list{
        gap: 5px;
    }
    .navigation-list a{
        font-size: var(--fs-root);
    }

    /* bannar*/
    .bannar{
        margin: 0 72px;
        flex-direction: column;
    }
    .bannar-title{
        font-size: 4.4rem;
    }
    .text-secondary{
        font-size: 9rem;
    }
    .workout-video-div{
        top:60px;
        left: 190px;
    }
    .tutorial-video-div{
        bottom: 140px;
        left: -40px;
    }
    /* habit section */
    .chng-habits{
        margin: 0 100px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 80px;
    }
    .habit-title{
        font-weight: var(--fw-b);
    }
    .habit-description{
        max-width: 470px;
    }
    /* run extra start */
    .run-extra{
        max-width: 700px;
        height: 400px;
        padding: 40px 42px 40px 54px;
    }
    .run-extra-title{
        font-size: var(--fs-m)
    }
     /* Trainings and Exercises start */
   .exercises{
    margin: 90px 30px;
    }
    .training-img{
        height: 180px;
    
    }
    /* BMI Calculator */
    .calculator{
        padding: 34px 30px;
        flex-direction: column;
        gap: 62px;
    }
    .calculator-bmi{
        width: 100%;
    }
    .services-catagory{
        grid-template-columns: repeat(1,1fr);
    }
    /* Servicers */
    .services{
        margin: 80px 30px;
    }
    /* team */
    .team{
        margin: 80px 30px;
    }
}
@media screen and (min-width: 992px)and (max-width: 1240px) {
    /* navigation start*/
    .navigation{
        padding: 50px 100px ;
    }

    /* bannar*/
    .bannar{
        margin: 0 72px;
    }
    .workout-video-div{
        top:60px;
        left: 190px;
    }
    .tutorial-video-div{
        bottom: 140px;
        left: -40px;
    }
    /* habit */
    .chng-habits{
        margin: 0 120px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
    }
    /* run extra  */
    .run-extra{
        max-width: 880px;
    }
    /* Trainings and Exercises start */
   .exercises{
    margin: 90px 100px;
    }
    /* BMI Calculator */
    .calculator{
        padding: 40px 100px;
    }
    /* Servicers */
    .services{
        margin: 88px 100px;
    }
    /* team */
    .team{
        margin: 88px 100px;
    }
}
/* Just for bannar > vd-ttorl and wrkot-vd div and this media query shrad everything with 576px width media query. That's why I didn't use in 576px width meadia query min-width */
@media screen and (max-width:400px) {
    /* bannar */
    .workout-video-div{
        top:190px;
        left: 150px;
    }
    .tutorial-video-div{
        bottom: 80px;
        left: -5px;
    }
}