@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
:root {
    --fs-xs:0.875rem;
    --fs-s: 1.125rem;
    --fs-root:1rem;
    --fs-n: 1.5rem;
    --fs-m:2.25rem;
    --fs-title:3rem;
    --fs-ttl-m:2rem;
    --fw-l: 400;
    --fw-n: 500;
    --fw-m: 600;
    --fw-sb: 700;
    --fw-b: 800;
    --fw-exb: 900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    background-color: black;
}
/* Shraing style-start */
.text-primary{
    font-size: var(--fs-title);
    font-weight: var(--fw-exb);
    color: #FFFFFF;
}
.text-description{
    font-size: var(--fs-xs);
    font-weight: var(--fw-l);
    color: #FFFFFF80;
}
.btn-primary{
  color: #FFFFFF;
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  padding: 16px 40px;
  background-color: #E6533C;
  border: none;
  border-radius: 42px;
  margin-right: 14px;
}
.btn-secondary{
  color: #FFFFFF;
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  padding: 16px 40px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  border-radius: 42px;
}
.item-middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Shraing style-end */

/* set background color */
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* navigation start */
.navigation{
    padding: 50px 190px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-title{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.navigation-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 23px;
    padding: 12px 4px;
    border: 1px solid #FFFFFF1A;
    border-radius: 39px;
}
.navigation-list a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 20px;
    font-size: var(--fs-s);
    font-weight: var(--fw-l);
    cursor: pointer;
}
.navigation-selected{
    background-color: #E6533C;
    border-radius: 46px;
    font-weight: var(--fw-m);
}
/* nav-mobile */
.nav-icon{
    color: #FFFFFF;
    font-size: var(--fs-n);
    display: none;
}
/* navigation end */
/* Bannar start */
.bannar{
    margin: 0 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar-text{
    max-width:599px;
}
.bannar-title{
    color: #FFFFFF;
    font-size: 4.875rem;
    font-weight: var(--fw-exb);
    line-height: 120%;
}
.text-secondary{
    font-family: 'Miama', sans-serif;
    font-size: 9.5rem;
    font-weight: var(--fw-n);
}
.bannar-description{
    color: #FFFFFF80;
    font-size: 1rem;
    font-weight: var(--fw-l);
    margin: 25px 0;
}
.bannar-img{
    position: relative;
}
.workout-video-div{
    width: 193px;
    height: 98px;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(20px);
    background: #FFFFFF1A;
    position: absolute;
    top:140px;
    left: 230px;
    
}
.tutorial-video-div{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(20px);
    background: #FFFFFF1A;
    position: absolute;
    bottom: 75px;
    left: -115px;
}
.workout-video-title{
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: var(--fw-exb);
    text-align: center;
}
.workout-video-description{
    color: #FFFFFFA6;
    font-size: 0.81rem;
    font-weight: var(--fw-l);
    text-align: center;
}
.video-icon{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.play-icon{
    color: #FFFFFF;
}
.tutorial-video-title{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: var(--fw-exb);
}
.tutorial-video-description{
    color: #FFFFFFA6;
    font-size: 1rem;
    font-weight: var(--fw-l);
}
/* Bannar end */
/* habit section strat */
.habit{
    max-width: 1040px;
    margin: 100px auto;
}
.habit-title{
    text-align: center;
}

.habit-description{
    max-width: 640px;
    margin: 15px auto;
    text-align: center;
    margin-bottom: 54px;
}
.chng-habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.chng-habit{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chng-habit-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.chng-habit-title{
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
    color: #FFFFFF;
    margin-bottom: 5px;
}
.chng-habit-description{
    max-width: 231px;
}
#chng-habit-img1{
    background-image:url(../assets/image\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#chng-habit-img2{
    background-image:url(../assets/image\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#chng-habit-img3{
    background-image:url(../assets/image\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#chng-habit-img4{
    background-image:url(../assets/image\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* habbit section end */
/* run extra start */
.run-extra{
    max-width: 1060px;
    height: 400px;
    background-color: #222222;
    border-radius: 18px;
    margin: 100px auto;
    padding: 30px 32px 30px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.run-extra-text{
    width: 42%;
}
.run-extra-description{
    margin: 14px 0 34px 0;
}
.run-extra-img{
    width: 45%;
    height: 100%;
    border-radius: 18px;
    background-image: url(../assets/run.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* run extra end */
/* Trainings and Exercises start */
.exercises{
    margin: 90px 190px;
    text-align: center
}
.exercises-description{
    margin: 14px 0 55px 0;
}
.training-img{
    width: 100%;
    height: 210px;
    color: #FFFFFF;
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
    padding: 20px ;
    display: flex;
    align-items: flex-end;

}
.trainings-part1{
    display: grid;
    grid-template-columns: 0.9fr 1.8fr 1fr;
}
#training-img1{
    background-image: url(../assets/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #06FFD280;
    background-blend-mode: overlay;
}
#training-img2{
    background-image: url(../assets/exercise2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FF00004D;
    background-blend-mode: overlay;
}
#training-img3{
    background-image: url(../assets/exercise3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #00000080;
    background-blend-mode: overlay;
}
.trainings-part2{
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 1fr;
}
#training-img4{
    background-image: url(../assets/exercise4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #00000080;
    background-blend-mode: overlay;
}#training-img5{
    background-image: url(../assets/exercise5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #42FF004D;
    background-blend-mode: overlay;
}#training-img6{
    background-image: url(../assets/exercise6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0047FF4D;
    background-blend-mode: overlay;
}
/* Trainings and Exercises end */
/* BMI Calculator start */
.bmi-cal{
    margin: 88px 0;
}
.bmi-cal-text{
    text-align: center;
}
.bmi-cal-description{
    width: 50%;
    margin:14px auto ;
    margin-bottom: 74px;
}
.calculator{
    width: 100%;
    height: fit-content;
    background-color: #222222;
    padding: 50px 190px;
    display: flex;
    justify-content: space-between;
}
.calculat-chat-title{
    font-family: 1.75rem;
    font-weight: var(--fw-exb);
    margin-bottom: 52px;
    color: #FFFFFF;
}
.calculat-chat-tbl,.calculat-chat-tbl-hdr,.calculat-chat-tbl-data{
    border: 1px solid#FFFFFF1A;
    border-collapse: collapse;
    padding: 14px 24px;
    width: 310px;
}
.calculat-chat-tbl-hdr{
    color: #FFFFFF;
    font-size: var(--fs-root);
    font-weight: var(--fw-n);
}
.calculator-bmi{
    width: 50%;
}
.calculator-bmi-title{
    color: #FFFFFF;
    font-family: 1.75rem;
    font-weight: var(--fw-exb);
}
.calculator-bmi-description {
    margin:14px 0 34px 0;
}
.calculator-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.activity{
    grid-column: 1/3;
}
.calculator-input{
    margin-bottom: 34px;
}
.calculator-input > input,select,option{
    width: 100%;
    padding: 18px 20px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF1A;
    
}
.calculator-input > input,select{
outline: none;

}
.calculator-input > input::placeholder,select{
   font-size: var(--fs-root);
   font-weight: var(--fw-l);
   color: #FFFFFF99;
}
/* BMI Calculator end */
/* Service start */
.services{
    margin: 88px 190px;
}
.services-title{
    text-align: center;
}
.services-description{
    width: 60%;
    text-align: center;
    margin: 20px auto;
}
.services-catagory{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    margin-top: 54px;
    gap: 20px;
}
.service-traning{
    width: 340px;
    height: fit-content;
    background-color: #222222;
}
.service-traning-img{
    width: 100%;
    height: 200px;
    background-color: green;
}
#service-traning-img1{
    background-image: url(../assets/muscle.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#service-traning-img2{
    background-image: url(../assets/strength.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#service-traning-img3{
    background-image: url(../assets/Fat.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-traning-info{
    padding: 20px;
}
.service-traning-info-title{
    font-size: 1.75rem;
    font-weight: var(--fw-exb);
    color: #FFFFFF;
    text-transform: capitalize;
}
.service-traning-info > ol{
    padding-left: 20px;
    margin:20px 0;
}
.service-traning-info > ol >li{
    list-style:circle;
    font-size: var(--fs-s);
    font-weight: var(--fw-l);
    color: #FFFFFF80;
    padding-top: 15px;
}
.service-enroll{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-enroll >p{
    font-size: var(--fs-s);
    font-weight: var(--fw-l);
    color: #FFFFFF80;
}
.service-enroll-btn{
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: var(--fs-xs);
    font-weight: var(--fw-m);
    color: #FFFFFF;
    background-color: #E6533C;
}
/* Service end */